:root { /*Sets variables to be used when possible and improve code clarity*/
  --pri-color: #EEE2DE;
  --sec-color: #EA906C;
  --tert-color: #B31312;
  --font-color: #2B2A4C;
}

.mainBody {
  text-align: center;
  justify-content: center;
}

#navbarList {
  list-style: none;
  height: 50px;
  margin: 0;
}

#navbarList li {
  float: left;
  padding: 10px;
}

#avatar {
  height: 300px;
  border-radius: 50px;
  margin: 5px;
}

#headerName {
  font-size: 32px;
  color: var(--font-color);
  margin: 5px 0 0 0;
}

header {
  background-color: var(--pri-color);
}

#navbarList, footer {
  background-color: var(--sec-color);
  width: 100%;
}

footer {
  bottom: 0 !important;
  margin-top: 50px;
  position: absolute !important;
}

.projectCard {
  width: 18rem;
  background-color: var(--pri-color);
  margin: 10px auto;
}

.btn-primary {
  background-color: var(--tert-color) !important;
  border: 0 !important;
  margin: 2px;
}