:root { /*Sets variables to be used when possible and improve code clarity*/
  --pri-color: #EEE2DE;
  --sec-color: #EA906C;
  --tert-color: #B31312;
  --font-color: #2B2A4C;
}

.mainBody {
  text-align: center;
}

#catAvatar {
  height: 300px;
  border-radius: 50px;
  margin: 5px;
}

#headerName {
  font-size: 32px;
  color: var(--font-color);
  margin: 5px 0 0 0;
}

header {
  background-color: var(--pri-color);
}

nav, footer {
  background-color: var(--sec-color);
}

.projectCard {
  width: 18rem;
  background-color: var(--pri-color);
  margin: 10px auto;
}

.btn-primary {
  background-color: var(--tert-color) !important;
  border: 0 !important;
}